/* Sets behavior of width and height properties and sets font family for the page*/
/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

/* Sets the padding, background color of the header */
.header {
    padding: 20px;
    background-color: #0b1b24;
}

/* Sets the padding, font color, background color, justification, and inline display of the h1 text */
.header h1 {
    display: inline;
    font-size: 25px;
    background-color: rgb(12, 161, 161);
    padding-left: 3%;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    margin-left: -30px;
    justify-content: left;
    color: #0b1b24;
}

/* Sets nav links font size, locates them to the right of the page, and positions them horizontally */
.header ul {
    float: right;
    font-size: 20px;
    list-style-type: none;
    margin-right: 10px;
}

/* displays links inline-block and sets spacing between links */
.header ul li{
    display: inline-block;
    margin-left: 25px;
}

/* Sets the font color and adds an underline below the words */
.header ul li a {
    color: rgb(12, 161, 161);
    text-decoration: underline;
}

/* Sets sizing and positioning of header image */
.header-image{
    width: 100%;
    margin: none;
    padding: none;
    position: relative;
    top: 0px;
    left: 0px;
}

/* Sets sizing and positioning of personal photo */
.personal-photo{
    position: absolute;
    top: 150px;
    right: 40px;
    height: 20;
    width: 10%;
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    color: #0b1b24;
}

/* Sets width of left column */
.left {
    width: 35%;
}
 
/* Sets width of right column */
.right {
    width: 65%;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* h2 sizing, positioning, and font-size */
h2 {
    display: flex;
    justify-content: end;
    font-size: 45px;
    flex-wrap: wrap;
    width: -150px;
}

/* h3 sizing, positioning, and font-size */
h3 {
    display: flex;
    justify-content: end;
    font-size: 45px;
    flex-wrap: wrap;
    width: -150px;
}

/*  */
.row2:after {
    content: "";
    display: table;
    clear: both;
}

/*  */
.row3:after {
    content: "";
    display: table;
    clear: both;
}

/* Sets sizing of "Work" header */
h4 {
    display: flex;
    justify-content: end;
    font-size: 45px;
    flex-wrap: wrap;
    width: -150px;
}

/* Sets positioning of the top photo in the work section */
#top-photo {
    position: relative;
}

/* Sets sizing of top photo in the work section */
#top-photo img {
    width: 698px;
    height: 250px;
    padding-left: 4px;
}

/* Sets text styling of the top photo textbox */
#top-photo .top-photo-text {
    color: #0b1b24;
    background-color: rgb(12, 161, 161);
    position: absolute;
    top: 208px;
    left: 14px;
    padding-left: 15px;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
}

/* Font sizing for work photo text boxes */
h5 {
    font-size: 20px;
}

/* Font sizing for paragraphs */
p {
    font-size: 15px;
}

/* Flexbox styling for "work" images */
div #images{
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
}

/* Flexbox styling for "work" images */
div #images div.project-row {
    display: flex;
    flex-flow: row;
}

/* Sizing and padding for bottom work images */
div #images img{
    width: 350px;
    height: 150px;
    padding-right: 2px;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* textbox colors and positiong for project 2 */
#images .project2 {
    color: #0b1b24;
    background-color: rgb(12, 161, 161);
    position: absolute;
    top: 96px;
    left: 4px;
    padding-left: 15px;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
}

/* textbox colors and positiong for project 3 */
#images .project3 {
    color: #0b1b24;
    background-color: rgb(12, 161, 161);
    position: absolute;
    top: 96px;
    left: 354px;
    padding-left: 15px;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
}

/* textbox colors and positiong for project 4 */
#images .project4 {
    color: #0b1b24;
    background-color: rgb(12, 161, 161);
    position: absolute;
    top: 250px;
    left: 4px;
    padding-left: 15px;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
}

/* textbox colors and positiong for project 5 */
#images .project5 {
    color: #0b1b24;
    background-color: rgb(12, 161, 161);
    position: absolute;
    top: 250px;
    left: 354px;
    padding-left: 15px;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
}

/* Sizing and flexbox styling for "contact me" header */
h6 {
    display: flex;
    justify-content: end;
    font-size: 45px;
    flex-wrap: wrap;
    width: -150px;
}

/* display settings and margining for contacts */
.row3 ul li{
    display: inline-block;
    margin-left: 25px;
}

/* Adds color and an underline to contact links */
.right a {
    color: #0b1b24;
    text-decoration: underline;
}

/* sets a border and properties to the left of all of the content on the right */
.border-left {
    border-left: 3px solid #0b1b24;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Adjustments to sizing and positioning when the user is on a mobile device */
@media screen and (max-width: 768px) {
    main,
    header ul {
        flex-direction: column;
    }
        
    .personal-photo {
    top: 100px;
    }

    #top-photo img {
        width: 100%;
        height: 100%;
    }

    div #images img {
        width: 239px;
        height: 100px;
    }

    #images .project2 {
        top: 45px;
    }

    #images .project3 {
        left: 245px;
        top: 45px;
    }

    #images .project4 {
        top: 150px;
    }

    #images .project5 {
        left: 245px;
        top: 150px;
    }
}
  