/* Sets behavior of width and height properties and sets font family for the page*/
/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

/* img {
    height: 9rem;
} */

main {
    padding: 2%;
    background-color: #d9c6ba;
}

/* body {
    background-color: #534B62;
} */

.add-space {
    padding: 4rem 0;
}

#credit {
    text-decoration: none;
    color: #f8f9fa8f;
}

.card {
    display: inline-block;
    margin: 15px;
}

#portfolio {
    margin-left: 20px;
    margin-right: 20px;
}

.contact-list {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

  