/* Add padding for space and background color to main content */
main {
    padding: 2%;
    background-color: #d9c6ba;
}

/* class to add padding around content */
.add-space {
    padding: 4rem 0;
}

/* styling for link to background image reference text/link */
#credit {
    text-decoration: none;
    color: #f8f9fa8f;
}

/* display properties and spacing for project cards */
.card {
    display: inline-block;
    margin: 15px;
}

/* add margin for spacing to portfolio section */
#portfolio {
    margin-left: 20px;
    margin-right: 20px;
}

/* increase font size, remove hyperlink underline, and change text color for contact section */
.contact-list {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

  